# Include Misc files
include README.rst
include LICENSE

# inlcude templatesc
recursive-include mosquittoChat/templates *

# include static js files
recursive-include mosquittoChat/static/js *

# include static css files
recursive-include mosquittoChat/static/css *

# include mosquitto config file
recursive-include config/mosquitto.conf


